<footer>
    <div class="footer container column align-items-center justify-content-center">
        <div class="footer--block text-align-center">
            <div class="" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
                <a href="{{ site.baseurl }}/"><span>Telegram |</span> {{ site.title }}</a>
            </div>
            <div class="by" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
                <a href="{{ site.baseurl }}/modelo/2020-05-16-titulo.md">
                    <small>
                        <div class="feather-icon icon-link"></div>
                        Modelo para publicação</small></a>
                <br>
            </div>
        </div>
    </div>
</footer>
