.footer {
  min-height: 50px;
  background: #ECECEC;
  overflow: hidden;

  .footer--block {
    a {
      color: $colortheme;

      span {
        font-weight: bold;
      }
    }

    .by {
      a {
        color: #515151;
      }
    }
  }
}
